@mixin wave($width, $ms, $margin-top, $margin-left, $color){
    opacity: .4;
    position: absolute;
    width: $width;
    margin-top: $margin-top;
    margin-left: $margin-left;
    transform-origin: 51% 49%;
    border-radius: 45%;
    background-color: $color;
    -webkit-animation: drift $ms infinite linear;
    overflow: hidden;
}

.wave1{
    @include wave(250vw,25000ms,-100vh,-70vw,yellow);
    opacity: .1;
    height: 225vw;
}


.wave2{
    @include wave(200vw,20000ms,50vh,-90vw,#EF6C00);
    //opacity: .4;
    height: 200vw;
}

.wave3{
    @include wave(200vw,10000ms,50vh,-50vw,#D50000);
    //opacity: .4;
    height: 200vw;
}

.wave4{
     @include wave(200vw,10000ms,50vh,-10vw,#FFFF00);
     //opacity: .6;
     height: 200vw;
}

.container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color:#FFF9C4;
    -webkit-justify-content: center;
    display: inline-block;
}

.Card{
    position: fixed;

    width: 50vw;
    height: 30vh;
    margin-top : 35vh;
    margin-left : 25vw;
    -webkit-justify-content: center;
    overflow: hidden;


}

.title{
    position: absolute;
    text-align: center;
    font-size: 500%;
    z-index: 1;
    margin: 20%;
}


@-webkit-keyframes drift {
    from { -webkit-transform: rotate(0deg); }
    from { -webkit-transform: rotate(360deg); }
}

@keyframes wave-animation{

}

