.mainDisplay{
	width: 300px;
	height: 400px;
	display: flex;
	justify-content:center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.recoMain{
	width: 200px;
	height: 400px;
	display: flex;
	justify-content: center;
}

.image{
	width: 100%;
	opacity: 0.5;
	height: 400px;
}

.cardDisplay{
	width: 350px;
}


.infoDisplay{
	margin-top: 20px;
	width: 40px;
	height: 400px;
}
.allDisplay{
	width: 400px;
	position: relative;
	z-index: -1;
	display: flex;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;


	
}