@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.weatherContainer {
	display: flex;
	padding: 0 15px;
}

.left {
	display: flex;
	flex-direction: column;
}

.weatherHeader {
	font-size: 28px;
	display: none;
}

.right {
	display: flex;
}

.info {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-weight: 300;
	justify-content: center;
	margin-left: 20px;
}

.infoTemp {
	font-size: 24px;
	font-weight: 400;
}

