@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.weatherContainer {
	display: flex;
	flex-direction: column;
}

.info {
	display: flex;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
}

.infoItem {
	
}